﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<!-- <h3>@Model.Message</h3> -->

<p>MyEthnet is the main front-end for Ethnet. The goal is to create an working online wallet and virtual economy with the Bitoleon token.</p>

<h2>Bitoleon</h2>
<p>Bitoleon /bɪtəʊliːˈɒn/ is the token used to pay for virtual items in MyEthnet. Like trading WoW Tokens with USD, Bitoleons can be traded with Ether, the currency behind Ethereum.</p>

<h2>Support</h2>
<p>Hover over a address to view it's QR code.</p>
<div class="qr_hover">
    <ul>
        <li>
            <b>Ethereum</b>: <a href="#">0x341A3A994A150962F3e82b195873B736dAEb4bB3</a>
            <img alt="image" src="~/images/ethereum-0x341.png" />
        </li>
        <li>
            <b>Monero</b>: <a href="#">44xZM7FSdJ9TpYK99Y2e4JYyprRWR3fKxJWsw4jEFL6CWtWQG35qWAPDTPDuAGy1v74bL2arKP2Eq7GVPfsWTZVs7MhKhf4</a>
            <img alt="image" src="~/images/monero-44xZ.png" />
        </li>
    </ul>

</div>